<section class="flex justify-center m-4">
  {% form 'product', product, x-ref: 'product_form' %}
    {{ product | image_url: width: 1000 | image_tag: widths: '200, 300, 400' }}
  {% endform %}
</section>
